<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div id="flipkart-navbar">
    <div class="container">
        <div class="row row2" id="s-bar-container">
            <div class="col-sm-2">
                <h1 style="margin:0px;"><span class="largenav">Test</span></h1>
            </div>
            <div class="flipkart-navbar-search smallsearch col-sm-8 col-xs-11">
                <div class="row" >
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="input-group">
                            <div class="input-group-btn search-panel">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <span id="search_concept">All</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#all">All</a></li>
                                <li><a href="#exact_match">Exact Match</a></li>
                                <li><a href="#negative_search">Negative search</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="all" id="search_param">         
                            <input type="text" class="form-control" name="txt-keyword" placeholder="Search book by Name, Type or Designer" id="txt-keyword">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="btn-search">Go</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="container hide" id="rec-div">
        <div class="row col-md-10 col-md-offset-1 custyle">
        <h3>Search Result</h3>
        <table class="table table-striped custab">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Designer</th>
            </tr>
        </thead>
        <tbody id="tblBody"> 
        </tbody>
        </table>
        </div>
    </div>


<script>    
    $(document).ready(function(){
        new BookStore()
    })
</script>